<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	{{!-- Be sure to add a key to each router.get() method to reflect the value of the page **1 --}}
	<link rel="stylesheet" src="public/assets/css/materialize.css" type="text/css" />
	<link rel="stylesheet" src="public/assets/css/style.css" type="text/css" />

	<title> {{ title }} </title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/garbage.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu1DCEzzMt3HyoNm90Myqn6cjWdevfOdc&callback=initMap"
    async defer></script>
	
<!--Scripts-->
  <script src="public/assets/js/materialize.js"></script>
  <script src="public/assets/js/init.js"></script>
</head>

<body>
	{{{ body }}}
</body>


</html>